.timeline{
  margin:  0 auto;
  width: 400px;
    article{
      padding-top: 20px;
    }
    .post_person{
      font-size: 20px;
    
    }
    .post_date{
      font-size: 10px;
    }
    .post_like{
      font-size: 15px;
    }
    .post_info{
      font-size: 20px;
      text-align: justify;
    }
}


